<h1 class="movie">Movie List</h1><button class='make btn-primary' [routerLink]="['new']">Add Movie</button>
<table class="table table-bordered " >
    <thead class="thead-dark">
      <tr>
          <th >Title</th>
          <th>Actions Available</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of stuff" >
        <td> {{s.title}}</td>
        <td><button class="btn btn-primary" [routerLink]="['showMovie', s._id]" >Read Reviews</button>  <button [routerLink]="['review/new',s._id]" class="btn btn-danger">Write review</button></td>
      </tr>
    </tbody>
  
  
  
  
  
  
  </table>
  