<!--The content below is only a placeholder and can be replaced.-->

<div class="container">

    <div style="text-align:center">
        <h1>
          Welcome to {{ title }}!
        </h1>
    </div>
    <div class="navbar">
      <a class="icons" [routerLink]="['/']">Home</a>
      <a class="icons" [routerLink]="['/products']">Product List</a>
      <a class="icons" [routerLink]="['/products','new']">Product Creation</a>

    </div>
    
    <div class="router">


      <router-outlet></router-outlet>


    </div> 
    


</div>




